# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_size = 4
max_line_length = 120 # Set a

# Matches multiple files with brace expansion notation
# Set default charset
[*.{java,xml,yml,yaml,properties,dockerfile,editorconfig,gitignore,sql,md}]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

# XML-specific settings
[*.xml]
# XML files indentation
indent_size = 2

# SQL-specific settings
[*.sql]
# SQL files indentation
indent_size = 2

# Markdown-specific settings
[*.md]
indent_size = 2
max_line_length = 80